body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(#0A0707 0%, #110C0D 50%, #0C090A 100%); }

/* switch */
#switch {
  position: absolute;
  width: 180px;
  height: 55px;
  top: 50%;
  left: 50%;
  margin-top: -27px;
  margin-left: -90px; }
  #switch input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; }
    #switch input ~ label i {
      display: block;
      height: 51px;
      width: 51px;
      position: absolute;
      left: 2px;
      top: 2px;
      z-index: 2;
      border-radius: inherit;
      background: linear-gradient(#36455b, #283446);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.3), 0 12px 12px rgba(0, 0, 0, 0.4);
      transition: all .5s ease; }
    #switch input:checked ~ label + span {
      display: inline-block;
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 10px;
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      z-index: 2;
      background: #b9f3fe;
      background: linear-gradient(#ffffff, #77a1b9);
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 10px #64e7fd, inset 0 0 8px rgba(61, 157, 247, 0.8), inset 0 -2px 5px rgba(185, 231, 253, 0.3), inset 0 -3px 8px rgba(185, 231, 253, 0.5); }
    #switch input:checked ~ label i {
      left: 63%;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.3), 0 8px 8px rgba(0, 0, 0, 0.3), inset -1px 0 1px #b9f3fe;
      transition: all .5s ease; }
  #switch label {
    display: block;
    width: 80%;
    height: 100%;
    position: relative;
    background: linear-gradient(#121823, #161d2b);
    border-radius: 30px 30px 30px 30px;
    box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.5), inset 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.2);
    transition: all .5s ease; }
    #switch label + span {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 17px;
      width: 18px;
      height: 18px;
      border-radius: 10px;
      background: linear-gradient(#36455b, #283446);
      box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.1), 0 0 10px rgba(185, 231, 253, 0), inset 0 0 8px rgba(0, 0, 0, 0.9), inset 0 -2px 5px rgba(0, 0, 0, 0.3), inset 0 -5px 5px rgba(0, 0, 0, 0.5);
      transition: all .5s ease;
      z-index: 2; }

/* background lights */
/* Colors */
/* Config */
/* Pretty Lights */
#lights {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
  top: -50px;
  left: -25px; }

.light {
  position: absolute;
  border-radius: 50%;
  opacity: 0; }

.light:nth-child(1) {
  width: 63px;
  height: 63px;
  top: 56%;
  left: 98%;
  background: #DB1913;
  filter: blur(3px);
  animation: 34s light6 linear infinite; }

.light:nth-child(2) {
  width: 60px;
  height: 60px;
  top: 1%;
  left: 61%;
  background: #DB1913;
  filter: blur(4px);
  animation: 29s light3 linear infinite; }

.light:nth-child(3) {
  width: 73px;
  height: 73px;
  top: 47%;
  left: 42%;
  background: #FE0016;
  filter: blur(3px);
  animation: 15s light3 linear infinite; }

.light:nth-child(4) {
  width: 64px;
  height: 64px;
  top: 45%;
  left: 3%;
  background: #2F8A27;
  filter: blur(4px);
  animation: 24s light4 linear infinite; }

.light:nth-child(5) {
  width: 75px;
  height: 75px;
  top: 97%;
  left: 24%;
  background: #FE0016;
  filter: blur(3px);
  animation: 15s light3 linear infinite; }

.light:nth-child(6) {
  width: 70px;
  height: 70px;
  top: 77%;
  left: 39%;
  background: #FE0016;
  filter: blur(3px);
  animation: 27s light4 linear infinite; }

.light:nth-child(7) {
  width: 60px;
  height: 60px;
  top: 30%;
  left: 32%;
  background: #DB1913;
  filter: blur(4px);
  animation: 14s light2 linear infinite; }

.light:nth-child(8) {
  width: 68px;
  height: 68px;
  top: 3%;
  left: 59%;
  background: #5C6C94;
  filter: blur(4px);
  animation: 21s light6 linear infinite; }

.light:nth-child(9) {
  width: 54px;
  height: 54px;
  top: 28%;
  left: 29%;
  background: #FE0016;
  filter: blur(3px);
  animation: 21s light6 linear infinite; }

.light:nth-child(10) {
  width: 60px;
  height: 60px;
  top: 47%;
  left: 42%;
  background: #5C6C94;
  filter: blur(4px);
  animation: 26s light6 linear infinite; }

.light:nth-child(11) {
  width: 69px;
  height: 69px;
  top: 51%;
  left: 22%;
  background: #2F8A27;
  filter: blur(4px);
  animation: 19s light6 linear infinite; }

.light:nth-child(12) {
  width: 70px;
  height: 70px;
  top: 76%;
  left: 93%;
  background: #D00010;
  filter: blur(3px);
  animation: 26s light4 linear infinite; }

.light:nth-child(13) {
  width: 73px;
  height: 73px;
  top: 7%;
  left: 61%;
  background: #D00010;
  filter: blur(4px);
  animation: 21s light5 linear infinite; }

.light:nth-child(14) {
  width: 74px;
  height: 74px;
  top: 52%;
  left: 89%;
  background: #DB1913;
  filter: blur(3px);
  animation: 25s light6 linear infinite; }

.light:nth-child(15) {
  width: 74px;
  height: 74px;
  top: 39%;
  left: 63%;
  background: #6B0D05;
  filter: blur(4px);
  animation: 30s light2 linear infinite; }

.light:nth-child(16) {
  width: 71px;
  height: 71px;
  top: 66%;
  left: 65%;
  background: #D00010;
  filter: blur(4px);
  animation: 26s light5 linear infinite; }

.light:nth-child(17) {
  width: 61px;
  height: 61px;
  top: 23%;
  left: 30%;
  background: #6B0D05;
  filter: blur(4px);
  animation: 14s light6 linear infinite; }

.light:nth-child(18) {
  width: 68px;
  height: 68px;
  top: 93%;
  left: 11%;
  background: #6B0D05;
  filter: blur(4px);
  animation: 27s light3 linear infinite; }

.light:nth-child(19) {
  width: 51px;
  height: 51px;
  top: 79%;
  left: 99%;
  background: #D00010;
  filter: blur(3px);
  animation: 27s light3 linear infinite; }

.light:nth-child(20) {
  width: 54px;
  height: 54px;
  top: 77%;
  left: 93%;
  background: #63C13B;
  filter: blur(4px);
  animation: 31s light4 linear infinite; }

.light:nth-child(21) {
  width: 73px;
  height: 73px;
  top: 40%;
  left: 28%;
  background: #7D0006;
  filter: blur(4px);
  animation: 33s light6 linear infinite; }

.light:nth-child(22) {
  width: 51px;
  height: 51px;
  top: 65%;
  left: 19%;
  background: #DB1913;
  filter: blur(4px);
  animation: 23s light4 linear infinite; }

.light:nth-child(23) {
  width: 61px;
  height: 61px;
  top: 77%;
  left: 57%;
  background: #D00010;
  filter: blur(3px);
  animation: 28s light3 linear infinite; }

.light:nth-child(24) {
  width: 61px;
  height: 61px;
  top: 12%;
  left: 16%;
  background: #5C6C94;
  filter: blur(4px);
  animation: 12s light2 linear infinite; }

.light:nth-child(25) {
  width: 71px;
  height: 71px;
  top: 32%;
  left: 51%;
  background: #5C6C94;
  filter: blur(4px);
  animation: 17s light5 linear infinite; }

.light:nth-child(26) {
  width: 72px;
  height: 72px;
  top: 11%;
  left: 54%;
  background: #6B0D05;
  filter: blur(4px);
  animation: 23s light4 linear infinite; }

.light:nth-child(27) {
  width: 72px;
  height: 72px;
  top: 79%;
  left: 35%;
  background: #7D0006;
  filter: blur(3px);
  animation: 34s light4 linear infinite; }

.light:nth-child(28) {
  width: 71px;
  height: 71px;
  top: 8%;
  left: 46%;
  background: #2F8A27;
  filter: blur(3px);
  animation: 23s light5 linear infinite; }

.light:nth-child(29) {
  width: 65px;
  height: 65px;
  top: 45%;
  left: 45%;
  background: #7D0006;
  filter: blur(4px);
  animation: 19s light2 linear infinite; }

.light:nth-child(30) {
  width: 69px;
  height: 69px;
  top: 11%;
  left: 37%;
  background: #DB1913;
  filter: blur(3px);
  animation: 16s light2 linear infinite; }

.light:nth-child(31) {
  width: 68px;
  height: 68px;
  top: 20%;
  left: 30%;
  background: #FEE34A;
  filter: blur(4px);
  animation: 20s light6 linear infinite; }

.light:nth-child(32) {
  width: 59px;
  height: 59px;
  top: 50%;
  left: 53%;
  background: #2F8A27;
  filter: blur(4px);
  animation: 24s light5 linear infinite; }

.light:nth-child(33) {
  width: 75px;
  height: 75px;
  top: 96%;
  left: 22%;
  background: #DB1913;
  filter: blur(3px);
  animation: 30s light6 linear infinite; }

.light:nth-child(34) {
  width: 61px;
  height: 61px;
  top: 1%;
  left: 27%;
  background: #63C13B;
  filter: blur(3px);
  animation: 15s light6 linear infinite; }

.light:nth-child(35) {
  width: 54px;
  height: 54px;
  top: 57%;
  left: 72%;
  background: #DB1913;
  filter: blur(4px);
  animation: 17s light5 linear infinite; }

.light:nth-child(36) {
  width: 56px;
  height: 56px;
  top: 55%;
  left: 47%;
  background: #6B0D05;
  filter: blur(4px);
  animation: 11s light6 linear infinite; }

.light:nth-child(37) {
  width: 68px;
  height: 68px;
  top: 64%;
  left: 85%;
  background: #D00010;
  filter: blur(4px);
  animation: 35s light3 linear infinite; }

.light:nth-child(38) {
  width: 56px;
  height: 56px;
  top: 8%;
  left: 53%;
  background: #6B0D05;
  filter: blur(4px);
  animation: 28s light2 linear infinite; }

.light:nth-child(39) {
  width: 59px;
  height: 59px;
  top: 15%;
  left: 40%;
  background: #FEC641;
  filter: blur(4px);
  animation: 34s light4 linear infinite; }

.light:nth-child(40) {
  width: 54px;
  height: 54px;
  top: 30%;
  left: 69%;
  background: #7D0006;
  filter: blur(3px);
  animation: 27s light5 linear infinite; }

.light:nth-child(41) {
  width: 73px;
  height: 73px;
  top: 2%;
  left: 44%;
  background: #FE0016;
  filter: blur(4px);
  animation: 27s light6 linear infinite; }

.light:nth-child(42) {
  width: 53px;
  height: 53px;
  top: 92%;
  left: 54%;
  background: #D00010;
  filter: blur(4px);
  animation: 14s light3 linear infinite; }

.light:nth-child(43) {
  width: 53px;
  height: 53px;
  top: 45%;
  left: 19%;
  background: #7D0006;
  filter: blur(3px);
  animation: 34s light5 linear infinite; }

.light:nth-child(44) {
  width: 74px;
  height: 74px;
  top: 58%;
  left: 28%;
  background: #DB1913;
  filter: blur(3px);
  animation: 19s light4 linear infinite; }

.light:nth-child(45) {
  width: 65px;
  height: 65px;
  top: 37%;
  left: 40%;
  background: #DB1913;
  filter: blur(4px);
  animation: 14s light4 linear infinite; }

.light:nth-child(46) {
  width: 63px;
  height: 63px;
  top: 43%;
  left: 87%;
  background: #2F8A27;
  filter: blur(4px);
  animation: 14s light6 linear infinite; }

.light:nth-child(47) {
  width: 63px;
  height: 63px;
  top: 13%;
  left: 11%;
  background: #6B0D05;
  filter: blur(3px);
  animation: 25s light5 linear infinite; }

.light:nth-child(48) {
  width: 71px;
  height: 71px;
  top: 84%;
  left: 14%;
  background: #6B0D05;
  filter: blur(4px);
  animation: 15s light6 linear infinite; }

.light:nth-child(49) {
  width: 65px;
  height: 65px;
  top: 63%;
  left: 74%;
  background: #2F8A27;
  filter: blur(4px);
  animation: 25s light5 linear infinite; }

.light:nth-child(50) {
  width: 74px;
  height: 74px;
  top: 15%;
  left: 71%;
  background: #D00010;
  filter: blur(4px);
  animation: 31s light3 linear infinite; }

@keyframes light1 {
  25% {
    opacity: 0.75; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0.36; }
  100% {
    opacity: 0; } }
@keyframes light2 {
  25% {
    opacity: 0.31; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0.43; }
  100% {
    opacity: 0; } }
@keyframes light3 {
  25% {
    opacity: 0.45; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0.52; }
  100% {
    opacity: 0; } }
@keyframes light4 {
  25% {
    opacity: 0.4; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0.55; }
  100% {
    opacity: 0; } }
@keyframes light5 {
  25% {
    opacity: 0.74; }
  50% {
    opacity: 0; }
  75% {
    opacity: 0.75; }
  100% {
    opacity: 0; } }
/* svgs */
img {
  position: absolute;
  display: none; }
  img#tree {
    width: 90%;
    left: 5%;
    bottom: 8px;
    z-index: 1; }
  img#grass {
    width: 100%;
    bottom: -6px;
    z-index: 2;
    opacity: 0.8; }

/* bottom collector */
#snow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  display: none; }

canvas {
  z-index: 2; }

/* words */
#words {
  position: absolute;
  width: 100%;
  margin-top: 30px;
  color: #ff1d1d;
  text-align: center;
  font-family: "SnellRoundhand-Bold", sans-serif;
  opacity: 1;
  transition: all 1s ease-in-out;
  z-index: 1; }
  #words p {
    opacity: 1;
    margin: 0;
    font-size: 40px;
    background-image: linear-gradient(to right, #9328d6, #e2ba7f, #79d478, #0ea9b9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  #words p:last-child {
    margin-top: 18px;
    margin-left: 190px;
    font-size: 25px; }

/* flower */
canvas#flower {
  position: absolute;
  width: 340px;
  height: 340px;
  left: 5%;
  bottom: 50px; }

.hide {
  opacity: 0 !important; }

/*# sourceMappingURL=main.css.map */
